### Play with Series

In [1]:
import pandas as pd

In [3]:
if True:
    series=pd.Series(['Dave','Cheng-Han','Udacity',42,-178])
    print(series)

0         Dave
1    Cheng-Han
2      Udacity
3           42
4         -178
dtype: object

In [8]:
if True:
    series=pd.Series(['Dave','Cheng-Han',359,9001],
                     index=['InStructor','Curriculum Manager','Couser Number','Power Level'])
    print(series)

InStructor                 Dave
Curriculum Manager    Cheng-Han
Couser Number               359
Power Level                9001
dtype: object

In [12]:
if True:
    series=pd.Series(['Dave','Cheng-Han',359,9001],
                     index=['InStructor','Curriculum Manager','Couser Number','Power Level'])
    print(series)
    print(series['InStructor'])
    print("")
    print(series[['InStructor','Curriculum Manager']])

InStructor                 Dave
Curriculum Manager    Cheng-Han
Couser Number               359
Power Level                9001
dtype: object
Dave

InStructor                 Dave
Curriculum Manager    Cheng-Han
dtype: object

In [13]:
if True:
    cuteness=pd.Series([1,2,3,4,5],index=['Cockroach','Fish','Mini Pig','Puppy','Kitten'])
    print(cuteness>3)
    print("")
    print(cuteness[cuteness>3])

Cockroach    False
Fish         False
Mini Pig     False
Puppy         True
Kitten        True
dtype: bool

Puppy     4
Kitten    5
dtype: int64

### Play with DataFrame

In [14]:
import numpy as np

In [15]:
import pandas as pd

In [16]:
if True:
    data={
        'year':[2010,2011,2012,2011,2012,2010,2011,2012],
        'team':['Bears','Bears','Bears','Packers','Packers','Lions','Lions','Lions'],
        'wins':[11,8,10,15,11,6,10,4],
        'losses':[5,8,6,1,5,10,6,12]
        
    }
    football=pd.DataFrame(data)
    print(football)

   losses     team  wins  year
0       5    Bears    11  2010
1       8    Bears     8  2011
2       6    Bears    10  2012
3       1  Packers    15  2011
4       5  Packers    11  2012
5      10    Lions     6  2010
6       6    Lions    10  2011
7      12    Lions     4  2012

In [22]:
if True:
    data={
        'year':[2010,2011,2012,2011,2012,2010,2011,2012],
        'team':['Bears','Bears','Bears','Packers','Packers','Lions','Lions','Lions'],
        'wins':[11,8,10,15,11,6,10,4],
        'losses':[5,8,6,1,5,10,6,12]
        
    }
    football=pd.DataFrame(data)
    print(football)
    print ""
    print(football.dtypes)
    print ""
    print(football.describe())
    print("")
    print(football.head())
    print("")
    print(football.tail())

   losses     team  wins  year
0       5    Bears    11  2010
1       8    Bears     8  2011
2       6    Bears    10  2012
3       1  Packers    15  2011
4       5  Packers    11  2012
5      10    Lions     6  2010
6       6    Lions    10  2011
7      12    Lions     4  2012

losses     int64
team      object
wins       int64
year       int64
dtype: object

          losses       wins         year
count   8.000000   8.000000     8.000000
mean    6.625000   9.375000  2011.125000
std     3.377975   3.377975     0.834523
min     1.000000   4.000000  2010.000000
25%     5.000000   7.500000  2010.750000
50%     6.000000  10.000000  2011.000000
75%     8.500000  11.000000  2012.000000
max    12.000000  15.000000  2012.000000

   losses     team  wins  year
0       5    Bears    11  2010
1       8    Bears     8  2011
2       6    Bears    10  2012
3       1  Packers    15  2011
4       5  Packers    11  2012

   losses     team  wins  year
3       1  Packers    15  2011
4       5  Packers    11  2012
5      10    Lions     6  2010
6       6    Lions    10  2011
7      12    Lions     4  2012

### create dataFrame

In [23]:
from pandas import  DataFrame, Series

In [24]:
def create_dataframe():
    countries = ['Russian Fed.', 'Norway', 'Canada', 'United States',
                 'Netherlands', 'Germany', 'Switzerland', 'Belarus',
                 'Austria', 'France', 'Poland', 'China', 'Korea', 
                 'Sweden', 'Czech Republic', 'Slovenia', 'Japan',
                 'Finland', 'Great Britain', 'Ukraine', 'Slovakia',
                 'Italy', 'Latvia', 'Australia', 'Croatia', 'Kazakhstan']
    gold = [13, 11, 10, 9, 8, 8, 6, 5, 4, 4, 4, 3, 3, 2, 2, 2, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0]
    silver = [11, 5, 10, 7, 7, 6, 3, 0, 8, 4, 1, 4, 3, 7, 4, 2, 4, 3, 1, 0, 0, 2, 2, 2, 1, 0]
    bronze = [9, 10, 5, 12, 9, 5, 2, 1, 5, 7, 1, 2, 2, 6, 2, 4, 3, 1, 2, 1, 0, 6, 2, 1, 0, 1]
    data={
        'country_name':countries,
        'gold':gold,
        'silver':silver,
        'bronze':bronze
    }
    olympic_medal_counts_df=DataFrame(data)
    
    return olympic_medal_counts_df

In [25]:
print(create_dataframe())

    bronze    country_name  gold  silver
0        9    Russian Fed.    13      11
1       10          Norway    11       5
2        5          Canada    10      10
3       12   United States     9       7
4        9     Netherlands     8       7
5        5         Germany     8       6
6        2     Switzerland     6       3
7        1         Belarus     5       0
8        5         Austria     4       8
9        7          France     4       4
10       1          Poland     4       1
11       2           China     3       4
12       2           Korea     3       3
13       6          Sweden     2       7
14       2  Czech Republic     2       4
15       4        Slovenia     2       2
16       3           Japan     1       4
17       1         Finland     1       3
18       2   Great Britain     1       1
19       1         Ukraine     1       0
20       0        Slovakia     1       0
21       6           Italy     0       2
22       2          Latvia     0       2
23       1       Australia     0       2
24       0         Croatia     0       1
25       1      Kazakhstan     0       0

### get the dataframe

In [27]:
from pandas import DataFrame,Series

In [29]:
d={
    'name':Series(['Braund','Cummings','Heikkinen','Allen'],
                  index=['a','b','c','d']),
    'age':Series([22,38,26,35],
                  index=['a','b','c','d']),
    'fare':Series([7.25,71.83,8.05],
                  index=['a','b','d']),
    'survived':Series([False,True,True,False],index=['a','b','c','d'])
    
}
df=DataFrame(d)
df

   age   fare       name survived
a   22   7.25     Braund    False
b   38  71.83   Cummings     True
c   26    NaN  Heikkinen     True
d   35   8.05      Allen    False

In [30]:
df['name']

a       Braund
b     Cummings
c    Heikkinen
d        Allen
Name: name, dtype: object

In [31]:
df[['name','age']]

        name  age
a     Braund   22
b   Cummings   38
c  Heikkinen   26
d      Allen   35

In [32]:
df.loc['a']

age             22
fare          7.25
name        Braund
survived     False
Name: a, dtype: object

In [34]:
df[df['age']>=30]

   age   fare      name survived
b   38  71.83  Cummings     True
d   35   8.05     Allen    False

In [35]:
df[df['survived']==True]

   age   fare       name survived
b   38  71.83   Cummings     True
c   26    NaN  Heikkinen     True

In [36]:
df['name'][df['survived']==True]

b     Cummings
c    Heikkinen
Name: name, dtype: object

### index DataFrame
- 1) Selecting a single column from the DataFrame will return a Series
- 2) Selecting multiple columns from the DataFrame will return a DataFrame

In [37]:
import pandas as pd

In [38]:
if True:
    data = {'year': [2010, 2011, 2012, 2011, 2012, 2010, 2011, 2012],
            'team': ['Bears', 'Bears', 'Bears', 'Packers', 'Packers', 'Lions',
                     'Lions', 'Lions'],
            'wins': [11, 8, 10, 15, 11, 6, 10, 4],
            'losses': [5, 8, 6, 1, 5, 10, 6, 12]}
    football = pd.DataFrame(data)
    print(football['year'])
    print("")
    print("")
    print(football.year)
    print("")
    print(football[['year','wins','losses']])

0    2010
1    2011
2    2012
3    2011
4    2012
5    2010
6    2011
7    2012
Name: year, dtype: int64


0    2010
1    2011
2    2012
3    2011
4    2012
5    2010
6    2011
7    2012
Name: year, dtype: int64

   year  wins  losses
0  2010    11       5
1  2011     8       8
2  2012    10       6
3  2011    15       1
4  2012    11       5
5  2010     6      10
6  2011    10       6
7  2012     4      12

In [46]:
# Some of the basic and common methods are:
#    1) Slicing
#    2) An individual index (through the functions iloc or loc)
#    3) Boolean indexing

# You can also combine multiple selection requirements through boolean
# operators like & (and) or | (or)
# '''
# # Change False to True to see boolean indexing in action
if True:
    data = {'year': [2010, 2011, 2012, 2011, 2012, 2010, 2011, 2012],
            'team': ['Bears', 'Bears', 'Bears', 'Packers', 'Packers', 'Lions',
                     'Lions', 'Lions'],
            'wins': [11, 8, 10, 15, 11, 6, 10, 4],
            'losses': [5, 8, 6, 1, 5, 10, 6, 12]}
    football = pd.DataFrame(data)
    print(football)
    print("")
    print(football.iloc[[0]])
    print("")
    print(football.loc[[0]])
    print("")
    print(football[3:5])
    print("")
    print(football[football.wins>=10])
    print("")
    print(football[(football.wins>10)&(football.team=='Packers')])

   losses     team  wins  year
0       5    Bears    11  2010
1       8    Bears     8  2011
2       6    Bears    10  2012
3       1  Packers    15  2011
4       5  Packers    11  2012
5      10    Lions     6  2010
6       6    Lions    10  2011
7      12    Lions     4  2012

   losses   team  wins  year
0       5  Bears    11  2010

   losses   team  wins  year
0       5  Bears    11  2010

   losses     team  wins  year
3       1  Packers    15  2011
4       5  Packers    11  2012

   losses     team  wins  year
0       5    Bears    11  2010
2       6    Bears    10  2012
3       1  Packers    15  2011
4       5  Packers    11  2012
6       6    Lions    10  2011

   losses     team  wins  year
3       1  Packers    15  2011
4       5  Packers    11  2012

### pandas 向量化方法

In [52]:
from pandas import  DataFrame,Series
import numpy

In [51]:
d={'one':Series([1,2,3],index=['a','b','c']),
   'two':Series([1,2,3,4],index=['a','b','c','d'])
  }
df=DataFrame(d)
df

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [54]:
df.apply(numpy.max)

one    3.0
two    4.0
dtype: float64

只能在序列Series上使用 map() 来返回新序列，
只能在数据框上DataFrame使用 applymap() 来返回新数据框

In [55]:
df['one'].map(lambda x:x>=1)

a     True
b     True
c     True
d    False
Name: one, dtype: bool

In [56]:
df.applymap(lambda x:x>=1)

     one   two
a   True  True
b   True  True
c   True  True
d  False  True

### 计算平均铜牌数

In [57]:
from pandas import DataFrame, Series
import numpy

In [66]:
def avg_medal_count():
    '''
    Compute the average number of bronze medals earned by countries who 
    earned at least one gold medal.  
    
    Save this to a variable named avg_bronze_at_least_one_gold. You do not
    need to call the function in your code when running it in the browser -
    the grader will do that automatically when you submit or test it.
    
    HINT-1:
    You can retrieve all of the values of a Pandas column from a 
    data frame, "df", as follows:
    df['column_name']
    
    HINT-2:
    The numpy.mean function can accept as an argument a single
    Pandas column. 
    
    For example, numpy.mean(df["col_name"]) would return the 
    mean of the values located in "col_name" of a dataframe df.
    '''


    countries = ['Russian Fed.', 'Norway', 'Canada', 'United States',
                 'Netherlands', 'Germany', 'Switzerland', 'Belarus',
                 'Austria', 'France', 'Poland', 'China', 'Korea', 
                 'Sweden', 'Czech Republic', 'Slovenia', 'Japan',
                 'Finland', 'Great Britain', 'Ukraine', 'Slovakia',
                 'Italy', 'Latvia', 'Australia', 'Croatia', 'Kazakhstan']

    gold = [13, 11, 10, 9, 8, 8, 6, 5, 4, 4, 4, 3, 3, 2, 2, 2, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0]
    silver = [11, 5, 10, 7, 7, 6, 3, 0, 8, 4, 1, 4, 3, 7, 4, 2, 4, 3, 1, 0, 0, 2, 2, 2, 1, 0]
    bronze = [9, 10, 5, 12, 9, 5, 2, 1, 5, 7, 1, 2, 2, 6, 2, 4, 3, 1, 2, 1, 0, 6, 2, 1, 0, 1]
    
    olympic_medal_counts = {'country_name':Series(countries),
                            'gold': Series(gold),
                            'silver': Series(silver),
                            'bronze': Series(bronze)}
    df = DataFrame(olympic_medal_counts)
    
    
    # YOUR CODE HERE
    avg_bronze_at_least_one_gold=numpy.mean( (df['bronze'][df.gold>=1]))

    return avg_bronze_at_least_one_gold

In [68]:
print(avg_medal_count())

4.2380952381

###  计算平均金、银、铜牌数

In [75]:
import numpy
from pandas import DataFrame, Series


def avg_medal_count():
    '''
    Using the dataframe's apply method, create a new Series called 
    avg_medal_count that indicates the average number of gold, silver,
    and bronze medals earned amongst countries who earned at 
    least one medal of any kind at the 2014 Sochi olympics.  Note that
    the countries list already only includes countries that have earned
    at least one medal. No additional filtering is necessary.
    
    You do not need to call the function in your code when running it in the
    browser - the grader will do that automatically when you submit or test it.
    '''

    countries = ['Russian Fed.', 'Norway', 'Canada', 'United States',
                 'Netherlands', 'Germany', 'Switzerland', 'Belarus',
                 'Austria', 'France', 'Poland', 'China', 'Korea', 
                 'Sweden', 'Czech Republic', 'Slovenia', 'Japan',
                 'Finland', 'Great Britain', 'Ukraine', 'Slovakia',
                 'Italy', 'Latvia', 'Australia', 'Croatia', 'Kazakhstan']

    gold = [13, 11, 10, 9, 8, 8, 6, 5, 4, 4, 4, 3, 3, 2, 2, 2, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0]
    silver = [11, 5, 10, 7, 7, 6, 3, 0, 8, 4, 1, 4, 3, 7, 4, 2, 4, 3, 1, 0, 0, 2, 2, 2, 1, 0]
    bronze = [9, 10, 5, 12, 9, 5, 2, 1, 5, 7, 1, 2, 2, 6, 2, 4, 3, 1, 2, 1, 0, 6, 2, 1, 0, 1]
    
    olympic_medal_counts = {'country_name':countries,
                            'gold': Series(gold),
                            'silver': Series(silver),
                            'bronze': Series(bronze)}    
    df = DataFrame(olympic_medal_counts)
    
    # YOUR CODE HERE
    avg_medal_count=Series([
        numpy.mean(df['gold']),
        numpy.mean(df['silver']),
        numpy.mean(df['bronze']),
        ],index=['gold','silver','bronze'])
    
    return avg_medal_count
print(avg_medal_count())

gold      3.807692
silver    3.730769
bronze    3.807692
dtype: float64

### numpy乘法 与numpy dot

In [76]:
import numpy as np

In [77]:
a=[1,2,3,4,5]
b=[2,3,4,5,6]
np.dot(a,b)

70

In [79]:
a=[1,2]
b=[[2,4,6],[3,5,7]]
np.dot(a,b)

array([ 8, 14, 20])

### 计算奖牌得分

In [93]:
import numpy
from pandas import DataFrame, Series


def numpy_dot():
    '''
    Imagine a point system in which each country is awarded 4 points for each
    gold medal,  2 points for each silver medal, and one point for each 
    bronze medal.  

    Using the numpy.dot function, create a new dataframe called 
    'olympic_points_df' that includes:
        a) a column called 'country_name' with the country name
        b) a column called 'points' with the total number of points the country
           earned at the Sochi olympics.
           
    You do not need to call the function in your code when running it in the
    browser - the grader will do that automatically when you submit or test it.
    '''

    countries = ['Russian Fed.', 'Norway', 'Canada', 'United States',
                 'Netherlands', 'Germany', 'Switzerland', 'Belarus',
                 'Austria', 'France', 'Poland', 'China', 'Korea', 
                 'Sweden', 'Czech Republic', 'Slovenia', 'Japan',
                 'Finland', 'Great Britain', 'Ukraine', 'Slovakia',
                 'Italy', 'Latvia', 'Australia', 'Croatia', 'Kazakhstan']

    gold = [13, 11, 10, 9, 8, 8, 6, 5, 4, 4, 4, 3, 3, 2, 2, 2, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0]
    silver = [11, 5, 10, 7, 7, 6, 3, 0, 8, 4, 1, 4, 3, 7, 4, 2, 4, 3, 1, 0, 0, 2, 2, 2, 1, 0]
    bronze = [9, 10, 5, 12, 9, 5, 2, 1, 5, 7, 1, 2, 2, 6, 2, 4, 3, 1, 2, 1, 0, 6, 2, 1, 0, 1]
 
    # YOUR CODE HERE
    d={
    'country_name':Series(countries),
    'gold':gold,
    'silver':silver,
    'bronze':bronze
}
    df=DataFrame(d)
    df['points']=numpy.dot( df[['gold','silver','bronze']],[4,2,1])
    olympic_points_df=df[['country_name','points']]
    
    return olympic_points_df
print(numpy_dot())

      country_name  points
0     Russian Fed.      83
1           Norway      64
2           Canada      65
3    United States      62
4      Netherlands      55
5          Germany      49
6      Switzerland      32
7          Belarus      21
8          Austria      37
9           France      31
10          Poland      19
11           China      22
12           Korea      20
13          Sweden      28
14  Czech Republic      18
15        Slovenia      16
16           Japan      15
17         Finland      11
18   Great Britain       8
19         Ukraine       5
20        Slovakia       4
21           Italy      10
22          Latvia       6
23       Australia       5
24         Croatia       2
25      Kazakhstan       1